* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
#header {
  position: relative;
  top: -10px;
  background-color: green;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#left {
  position: relative;
  width: 30%;
  height: 90%;
  background-color: green;
  border-radius: 5;
  float:left;
}
#right {
  position: relative;
  width: 65%;
  height: 90%;
  background-color: blue;
  border-radius: 5;
  float: right;
}
#mainpic {
  width: 30px;
  height: 30px;
}
table {
  border: red 2px solid;
  float: right;
  margin-right: 10px;
}
td {
  height: 75px;
  width: 75ps;
}
td img {
  height: 75px;
  width: 75ps;
}
th {
  font-size: 2em;
  
}
